<div class="container">
  <h2 class="text-center mt-5 mb-4 fs-1" style="color: var(--main-color);word-spacing: 10px;letter-spacing: 5px;">
    Contact Us
  </h2>
  <form class="row g-3 needs-validation my-2" [formGroup]="contactsForm" (ngSubmit)="saveFormData()">
    <div class="col-md-6">
      <label for="firstName" class="form-label text-white">First name</label>
      <input formControlName="firstName" type="text" class="form-control" id="firstName">
      <div class="invalid text-danger mt-1 mx-2"
        *ngIf="contactsForm.controls.firstName.errors != null && contactsForm.controls.firstName.touched">
        First Name must be Valid
      </div>
    </div>
    <div class="col-md-6">
      <label for="lastName" class="form-label text-white ">Last name</label>
      <input formControlName="lastName" type="text" class="form-control" id="lastName">
      <div class="invalid text-danger mt-1"
        *ngIf="contactsForm.controls.lastName.errors != null && contactsForm.controls.lastName.touched">
        Last Name must be Valid
      </div>
    </div>
    <div class="col-md-12">
      <label for="email" class="form-label text-white">Email</label>
      <div class="input-group">
        <input formControlName="email" type="email" class="form-control" id="email" placeholder="example@gmail.com">
        <div class="invalid text-danger mt-3 d-block w-100"
          *ngIf="contactsForm.controls.email.errors != null && contactsForm.controls.email.touched">
          Please Type Valid Email
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <label for="phone" class="form-label text-white">Phone</label>
      <div class="input-group">
        <input formControlName="phone" type="email" class="form-control" id="phone">
        <div class="invalid text-danger mt-3 w-100"
          *ngIf="contactsForm.controls.phone.errors != null && contactsForm.controls.phone.touched">
          Please Enter valid phone Number
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <label for="messageTitle" class="form-label text-white">Message Title</label>
      <div class="input-group">
        <input formControlName="messageTitle" type="text" class="form-control" id="messageTitle">
        <div class="invalid text-danger mt-3 w-100"
          *ngIf="contactsForm.controls.messageTitle.errors != null && contactsForm.controls.messageTitle.touched">
          Please Type a title for the message
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <label for="messageBody" class="form-label text-white">Message</label>
      <div class="input-group">
        <textarea formControlName="messageBody" type="text" class="form-control" id="messageBody" rows="5"
          style="resize: none;"></textarea>
        <div class="invalid text-danger mt-3 w-100"
          *ngIf="contactsForm.controls.messageBody.errors != null && contactsForm.controls.messageBody.touched">
          Message Must be more than 4 characters length
        </div>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-violet-outline d-block w-25 mx-auto text-white mt-3">Send</button>
    </div>
  </form>

</div>
