<header class="sticky-top">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" routerLink="/home">
        <!-- <img src="./assets/images/logo-cinema-1.png" class="img-fluid" style="width: 150px;" alt="logo"> -->
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class=""></span> -->
        <i class="navbar-toggler-icon fa-solid fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="" routerLinkActive="active-link"
              [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about" routerLinkActive="active-link"
              [routerLinkActiveOptions]="{exact:true}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="movies" routerLinkActive="active-link"
              [routerLinkActiveOptions]="{exact:true}">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="tv" routerLinkActive="active-link"
              [routerLinkActiveOptions]="{exact:true}">Tv Shows</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="people" routerLinkActive="active-link"
              [routerLinkActiveOptions]="{exact:true}">People</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contacts" routerLinkActive="active-link"
              [routerLinkActiveOptions]="{exact:true}">Contacts</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>
